<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.mapper.PatchMapper">
    <select id="selectPatchState" resultType="com.inspur.entity.PMPMMasterDataApplication" parameterType="java.lang.String" >
        SELECT PATCHID, PATCHSTATE  FROM [cwbasebm].[LCBM9999].patchinfo where PATCHID in
<!--            <foreach item="item" index="index" collection="PATCHID" open="(" separator="," close=")">-->
<!--            #{item}-->
<!--            </foreach>-->
    </select>


</mapper>
